* {
  border: none;
  font-family: monospace;
  font-size: 14px;
}

window#waybar {
  background: #1e1e1e;
  color: #ffffff;
}

#workspaces button {
  color: #ffffff;
  background: rgba(255,0,0,0.1);
  padding: 0 8px;
  margin: 0 2px;
  border-radius: 4px;
}

#workspaces button.focused,
#workspaces button.active {
  background: #64727D;
  border-bottom: 2px solid #ffffff;
}

#cpu {
  color: #ffffff;
  padding: 0 10px;
}

#custom-gpu {
  color: #ffffff;
  padding: 0 10px;
}

#pulseaudio {
  color: #ffffff;
  padding: 0 10px;
}

#clock {
  color: #ffffff;
  padding: 0 10px;
}
