* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window#waybar {
  background: #1e1e1e;
  color: #ffffff;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.3;
}

#cpu {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#custom-gpu {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#pulseaudio {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#clock {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #ffffff;
}

#custom-hypridle {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
    font-size: 16px;
}

#custom-hypridle.enabled {
    color: #4CAF50;
}

#custom-hypridle.disabled {
    color: #FF9800;
}

#network {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#bluetooth {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#temperature {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#custom-gpu-temp {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#disk {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#memory {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #000000;
    background-color: #ddddff;
    border-radius: 4px;
}

#custom-power {
    margin: 4px 0 6px 0;
    padding: 0 10px;
    color: #ffffff;
    font-size: 16px;
}
